{
  "gilhari_microservice_name": "hana-poc-service",
  "jdx_orm_spec_file": "./config/reverse_eng_template.config.docker.jdx",
  "jdbc_driver_path": "/opt/hana-poc-service/config/ngdbc-2.29.7.jar",
  "jdx_debug_level": 5,
  "jdx_force_create_schema": "false",
  "jdx_persistent_classes_location": "./bin",
  "classnames_map_file": "config/classnames_map.json",
  "gilhari_rest_server_port": 8081
}
